.card {
  background:white;
  padding:20px 24px;
  border-radius:12px;
  box-shadow:0 6px 18px rgba(16, 3, 23, 0.08);
  text-align:center;
  width:260px;
  margin:40px auto;
}

.count {
  font-size:2rem;
  margin:0 0 12px;
}

.controls {
  display:flex;
  gap:12px;
  justify-content:center;
}

button {
  padding:10px 18px;
  font-size:1rem;
  border-radius:8px;
  align-items: center;
  border:1px solid #0c4baa;
  background-color: aqua;
  cursor:pointer;
  margin:170px 170px 170px 170px;
}


.inc {
  background:#10b981;
  color:white;
  border-color:#10b981;
}

.dec {
  background:#ef4444;
  color:white;
  border-color:#ef4444;
}

.rst {
  background:#f2f2f54a;
  color:rgb(205, 206, 207);
  border-color:#ef4444;
}

